body {
    backdrop-filter: blur(7px);
    background-image: url(images/background.gif);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

main {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto Mono';
    font-weight: lighter;
    font-size: 1vw;
}

p, h1, h2 {
    color: #ddd;
    background-color: #00000080;
    box-shadow: inset 0 0 1px #ddd, 2px 2px 5px #000;;
    text-shadow: 2px 2px 5px #000;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 9px;
    padding: 1rem;
}

span.material-icons {
    color: #ddd;
    text-shadow: 2px 2px 5px #000;
    margin: 7vw;
    font-size: 7vw;
    transition: 0.2s;
}

.material-icons:hover {
    scale: 120%;
}

.material-icons:active {
    scale: 90%;
}

.ip {
    user-select: text;
    display: inline;
    color: #888;
    font-style: italic;
}
